<div class="site-wrapper-reveal">
    <!--===========  feature-large-images-wrapper  Start =============-->
    <div class="feature-large-images-wrapper section-space--ptb_100">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <!-- section-title-wrap Start -->
                    <div class="section-title-wrap text-center section-space--mb_60">
                        <h6 class="section-sub-title mb-20">About Cryol</h6>
                        <h3 class="heading">Empowering organizations with <span class="text-color-primary">data-driven, secure</span><br> and innovative <span class="text-color-primary">digital solutions</span></h3>
                    </div>
                    <!-- section-title-wrap Start -->
                </div>
            </div>

            <div class="cybersecurity-about-box">
                <div class="row">
                    <div class="col-lg-5 offset-lg-1">
                        <div class="modern-number-01 number-two">
                            <h2 class="heading me-5"><span class="mark-text">5+</span>Years’ Experience in IT</h2>
                            <h5 class="heading mt-30">Leading digital transformation with <span class="text-color-primary">integrity, innovation,</span> and evidence-driven solutions.</h5>
                        </div>
                    </div>

                    <div class="col-lg-5 ms-auto">
                        <div class="faq-wrapper">
                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <button class="btn-link" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                What is Cryol’s mission? <span> <i class="fas fa-chevron-down"></i>
                                                <i class="fas fa-chevron-up"></i> </span>
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            <p>Cryol’s mission is to enable organizations with data-driven, creative, and safe digital solutions, empowering businesses to achieve their goals through cutting-edge technology.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                What drives Cryol’s vision? <span> <i class="fas fa-chevron-down"></i>
                                                <i class="fas fa-chevron-up"></i> </span>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            <p>Cryol aims to lead the world in digital transformation, earning trust through honesty, originality, and exceptional output, delivering solutions that shape the future.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                            <button class="btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                What services does Cryol offer? <span> <i class="fas fa-chevron-down"></i>
                                                <i class="fas fa-chevron-up"></i> </span>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            <p>Cryol provides comprehensive IT solutions, including Application Development, Cloud Services, Cyber Security, Cyber Forensics, and Digital Marketing, all built on our core values of integrity, innovation, and growth.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--===========  feature-large-images-wrapper  End =============-->
</div>