<div class="footer-area-wrapper bg-gray">
    <div class="footer-area section-space--ptb_80">
        <div class="container">
            <div class="row footer-widget-wrapper">
                <div class="col-lg-4 col-md-6 col-sm-6 footer-widget">
                    <div class="footer-widget__logo mb-30">
                        <img src="assets/cryol_black.png" width="160" height="48" class="img-fluid" alt="Cryol">
                    </div>
                    <ul class="footer-widget__list">
                        <li>123 X Street, Y Location, State, 123345</li>
                        <li><a href="mailto:contact@cryol.com" class="hover-style-link">contact@cryol.com</a></li>
                        <li><a href="tel:+1234567890" class="hover-style-link text-black font-weight--bold">(+91) 12345 20120</a></li>
                        <li><a href="https://cryol.com" class="hover-style-link text-color-primary">www.cryol.com</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 footer-widget">
                    <h6 class="footer-widget__title mb-20">Our Services</h6>
                    <ul class="footer-widget__list">
                        <li><a href="#" class="hover-style-link">Application Development</a></li>
                        <li><a href="#" class="hover-style-link">Cloud Services</a></li>
                        <li><a href="#" class="hover-style-link">Cyber Security</a></li>
                        <li><a href="#" class="hover-style-link">Cyber Forensics</a></li>
                        <li><a href="#" class="hover-style-link">Digital Marketing</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 footer-widget">
                    <h6 class="footer-widget__title mb-20">Quick Links</h6>
                    <ul class="footer-widget__list">
                        <li><a href="#" class="hover-style-link">Home</a></li>
                        <li><a href="/about-us" class="hover-style-link">About Us</a></li>
                        <li><a href="#" class="hover-style-link">Services</a></li>
                        <li><a href="#" class="hover-style-link">Case Studies</a></li>
                        <li><a href="#" class="hover-style-link">Contact</a></li>
                        <li><a href="#" class="hover-style-link">Blog</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 footer-widget">
                    <h6 class="footer-widget__title mb-20">Support</h6>
                    <ul class="footer-widget__list">
                        <li><a href="#" class="hover-style-link">Help & FAQ</a></li>
                        <li><a href="#" class="hover-style-link">Contact Us</a></li>
                        <li><a href="#" class="hover-style-link">Pricing and Plans</a></li>
                        <li><a href="#" class="hover-style-link">Privacy Policy</a></li>
                        <li><a href="#" class="hover-style-link">Terms of Service</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 footer-widget">
                    <div class="footer-widget__title section-space--mb_50"></div>
                    <ul class="footer-widget__list">
                        <li><a href="#" class="image_btn" aria-label="partner"><img class="img-fluid" src="assets/r_files/Verified_Agency_v3.png" alt=" Play"></a></li>
                        <li><a href="#" class="image_btn" aria-label="lok"><img class="img-fluid" src="assets/r_files/glassdoor.svg" alt="Store"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright-area section-space--pb_30">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 text-center text-md-start">
                    <span class="copyright-text">© <%= new Date().getFullYear() %> Cryol. All Rights Reserved.</span>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <ul class="list ht-social-networks solid-rounded-icon">
                        <li class="item">
                            <a href="https://twitter.com" target="_blank" aria-label="Twitter" class="social-link hint--bounce hint--top hint--primary">
                                <i class="fab fa-twitter link-icon"></i>
                            </a>
                        </li>
                        <li class="item">
                            <a href="https://facebook.com" target="_blank" aria-label="Facebook" class="social-link hint--bounce hint--top hint--primary">
                                <i class="fab fa-facebook-f link-icon"></i>
                            </a>
                        </li>
                        <li class="item">
                            <a href="https://instagram.com" target="_blank" aria-label="Instagram" class="social-link hint--bounce hint--top hint--primary">
                                <i class="fab fa-instagram link-icon"></i>
                            </a>
                        </li>
                        <li class="item">
                            <a href="https://linkedin.com" target="_blank" aria-label="Linkedin" class="social-link hint--bounce hint--top hint--primary">
                                <i class="fab fa-linkedin link-icon"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>