<div class="header-bottom-wrap header-sticky">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="header default-menu-style position-relative">
                    <!-- brand logo -->
                    <div class="header__logo">
                        <a href="index.html">
                            <img src="assets/cryol_black.png" aria-label="Cryol Logo" width="160" height="48" class="img-fluid" alt="">
                        </a>
                    </div>

                    <!-- header middle box -->
                    <div class="header-midle-box">
                        <div class="header-bottom-wrap d-md-block d-none">
                            <div class="header-bottom-inner">
                                <div class="header-bottom-left-wrap">
                                    <!-- navigation menu -->
                                    <div class="header__navigation d-none d-xl-block">
                                        <nav class="navigation-menu primary--menu">
                                            <ul>
                                                <li><a href="index.html"><span>Home</span></a></li>
                                                <li class="has-children has-children--multilevel-submenu">
                                                    <a href="#"><span>Services</span></a>
                                                    <ul class="submenu">
                                                        <li><a href="application-development.html"><span>Application Development</span></a></li>
                                                        <li><a href="cyber-security.html"><span>Cyber Security</span></a></li>
                                                        <li><a href="cyber-forensics.html"><span>Cyber Forensics</span></a></li>
                                                        <li><a href="digital-marketing.html"><span>Digital Marketing</span></a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="about-us.html"><span>About Us</span></a></li>
                                                <li><a href="case-studies.html"><span>Case Studies</span></a></li>
                                                <li><a href="contact.html"><span>Contact</span></a></li>
                                                <li><a href="blog.html"><span>Blog</span></a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- header right box -->
                    <div class="header-right-box">
                        <div class="header-right-inner" id="hidden-icon-wrapper">
                            <!-- language-menu -->
                            <div class="language-menu">
                                <ul>
                                    <li>
                                        <a href="#" class="">
                                            
                                            <button class="ht-btn ht-btn-md">Get a Free Consultation</button>
                                        </a>
                                        <ul class="ls-sub-menu">
                                             <li>
                                                            <a href="mailto:info@example.com">
                                                                <i class="fa fa-envelope"></i>
                                                                <span>info@example.com</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="tel:+1234567890">
                                                                <i class="fa fa-phone"></i>
                                                                <span>+1 (234) 567-890</span>
                                                            </a>
                                                        </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                            <!-- header-search-form -->
                            <div class="header-search-form default-search">
                                <form action="#" class="search-form-top">
                                    <input class="search-field" type="text" placeholder="Search…">
                                    <button class="search-submit">
                                        <i class="search-btn-icon fa fa-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>

                        <!-- mobile menu -->
                        <div class="mobile-navigation-icon d-block d-xl-none" id="mobile-menu-trigger">
                            <i></i>
                        </div>
                        <!-- hidden icons menu -->
                        <div class="hidden-icons-menu d-block d-md-none" id="hidden-icon-trigger">
                            <a href="javascript:void(0)">
                                <i class="far fa-ellipsis-h-alt"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>